language: node_js

node_js:
  - node # will use latest node

before_script: # commands to run before the build step
  - npm install -g --silent @angular/cli
  - npm install -g firebase-tools

script: # the build step
  - ng build --prod --aot=false --build-optimizer=false

notifications:
  email: # only receive email when the build status changes (someone broke the build!)
    on_failure: derevets.artem@gmail.com
    on_success: derevets.artem@gmail.com


after_success:
  - firebase deploy --token $FIREBASE_TOKEN --non-interactive
