<div class="example-container">
  <mat-progress-bar mode="determinate" [value]="loader.progress$|async"></mat-progress-bar>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="col-lg-3">
        <button mat-icon-button (click)="sidenav.toggle()" style="padding-right: 5%">
          <mat-icon>menu</mat-icon>
          Responsive App
        </button>
      </div>
      <div class="col-lg-6">
        <button mat-raised-button color="primary" (click)="searchContact()">SearchContact</button>
      </div>
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container #sidenav class="example-sidenav-container app_sidenav_content bg">
    <mat-sidenav #sidenav [mode]="'push'">
      <app-user-nav></app-user-nav>
    </mat-sidenav>
    <app-user-nav></app-user-nav>
    <mat-sidenav-content>
      <mat-card class="user-card">
        <router-outlet></router-outlet>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

